.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: Lato, sans-serif;
  background-color: rgb(235, 231, 231);
}

.main-container {
  padding: 14px;
  width: 400px;
  height: 600px;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}
